*.class
*.log
*.iml
*.ipr
*.iws
.*.swp
.*.swo

.cache
.classpath
.DS_Store
.gradle/
.history
.idea/
.lib/
.project
.scala_dependencies
.settings
.worksheet

build/
dist/*
data/
out/
tags/
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

org.scala-ide.sdt.core/META-INF/MANIFEST.MF
org.scala-ide.sdt.update-site/site.xml

/.idea/
